ul {
  list-style: none;
}

.jumbotron {
  background-image: url()
  background-position: 0% 33%;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

.jumbotron h1 {
  font-size: 100px;
}

.jumbotron #p1 {
  color: #337ab7;
  font-size: 25px;
}

.jumbotron p {
  font-size: 1.2em;
}

li {
  font-size: 1.5em;
  text-align: center;
  color: #337ab7;
}
